* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    width: 250px;
    height: 100vh;
    background: #000000;
    color: aliceblue;
    position: fixed;
    left: -230px;
    top: 0;
    transition: all ease 1s;
}
ul>li{
    padding: 20px;
    font-size: 25px;
}
ul{
    margin-top: 50px;
}
.content{
    margin-left: 100px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


