.answer {
    width: 100px;
}

.result{
    font-weight: bolder;
    font-size: 18px;
    font-family: sans-serif;
}
.vpk-natija {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: 250px;
    border: 1px solid #333333;
    text-align: center;
    padding-right: 30px;
}

.content {
    width: 90%;
    height: 170px;
    font-size: 30px;
}

.block {
    background: #ced4da;
}
.prettyCheckbox{
    position: relative;
    font-size: large;
    transition: all ease 1s;
    left: 0;
}
